*{
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.text-center{
    text-align: center;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 64px; font-weight: 600;
    
}

.titulo a{
    text-decoration: none;
    color: black;
}

.titulo span{
    color: rgb(224, 138, 57);
}

.contenedor-navbar{

    
    border-top: 1px solid rgb(155, 155, 155);
}

.contenedor-navbar a{
    text-decoration: none;
}

.nav-enlaces{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
    text-align: center;
}

.banner-image{
    background-image: url(/img/principal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.titulo-categorias{
    display: flex;
    justify-content: center;
    margin: 100px 0;
    font-size: 35px;
    font-weight: bolder;
}

.card-categorias{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.card-categorias p{
    font-weight: bold;
    font-size: 26px;
}

.seccion-nosotros{
    margin: 100px 0;
}


.contenedor-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.seccion-nosotros h2{
    font-size: 36px;
    margin-bottom: 50px;
}

.imagen-nosotros{
    background-image: url(/img/producto2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.texto-nosotros{
    padding-left: 20px;
    font-size: 22px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: antiquewhite;
}

.seccion-productos h2{
    font-size: 36px;
    margin-bottom: 50px;
}

.card-container{
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
}

.card-1{
    display: grid;
    grid-template-columns: (3, 1fr);
    width: 1200px;
    height: 400px;
    
}

.card-1:nth-child(1){
    grid-template-columns: 3fr 1fr;
}

.producto-card1{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img//producto1.jpg);
 
}

.producto-descripcion{
    display: grid;
    align-items: center;
    font-size: 22px;
    background-color: rgb(149, 116, 74);
    color: white;
    text-align: center;
}

.producto-boton{
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: bold;
}

.producto-boton:hover{
    cursor: pointer;
}

.card-2{
    display: flex;
    width: 600px;
    height: 400px;
    margin: 0 30px;
}

.producto-card2{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img//producto2.jpg);
 
}

.card-3{
    display: flex;
    width: 600px;
    height: 400px;
    margin: 0 30px;
}

.seccion-footer{
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid rgb(197, 197, 197);
    margin-bottom: 80px;
}

.seccion-footer a{
    display: block;
    
}

.seccion-footer h3{
    font-size: 28px;
    margin: 10px 0;
}

.lista-footer{
    width: 300px;
    margin-top: 50px;
}

.lista-footer a{
    text-decoration: none;
    color: black;
}

.footer-message{
    display: flex;
    justify-content: center;
}